<div class="product-title" style="background: #404040; color:white;"> <h3>{{product.name}}</h3></div>

<a href="http://verkkokauppa.com/fi/product/{{product.sku}}" >Linkki</a><br/>
<div class="col-md-6">
	<img src="{{product.imgurl}}"  style="height:320px;width:320px"/>
</div>
<div class="col-md-4" style="text-align: left; background: #F0F0F0;border-radius:5px;">
	
	Tuote: {{ product.sku }}<br> 

	<strong>Hinta:</strong><br>
	<h4 style="color:red;">{{product.price}}€</h4>
	
	<strong>Hinta:</strong><br>
	<h4 style="color:red;">{{product.price}}€</h4>

</div>
